.icon {
  width: rem(32px);
  height: rem(32px);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin: 0 auto;
  opacity: 0.9;

  @mixin hover {
    opacity: 1;
  }
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
