.title img {
  position: absolute;
  top: var(--mantine-spacing-md);
  left: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: $mantine-breakpoint-sm) {
    left: 0;
  }
}

.title h4 {
  padding-top: var(--mantine-spacing-lg);
  padding-bottom: var(--mantine-spacing-xl);
  padding-left: rem(48px);
  color: var(--mantine-color-white);
}

.card {
  background-color: transparent;
  border-left: rem(1px) solid var(--mantine-color-grape-2);
  color: var(--mantine-color-white);
  padding: 0 calc(var(--mantine-spacing-xl) * 1.5);
  border-radius: 0;
  width: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 0;
    border-left: none;
  }
}

.card:first-of-type {
  border-left: none;
  padding-left: 0;
  .title img {
    left: 0;
  }
}

.card:last-of-type {
  padding-right: 0;
}

.card p {
  margin-top: 0;
}
