.skyscanner-blue-bullet > span:first-of-type > span {
  background-color: var(--g170-skyscanner-blue);
  border-color: var(--g170-skyscanner-blue);
}

.dazn-black-bullet > span:first-of-type > span {
  background-color: var(--g170-dazn-black);
  border-color: var(--g170-dazn-black);
}

.dazn-black-bullet + div {
  background-color: light-dark(
    var(--mantine-color-dark-3),
    var(--mantine-color-dark-2)
  );
}

.cgi-red-bullet > span:first-of-type > span {
  background-color: var(--g170-cgi-red);
  border-color: var(--g170-cgi-red);
}

.cgi-red-bullet + div {
  background-color: light-dark(
    var(--mantine-color-dark-3),
    var(--mantine-color-dark-2)
  );
}

.oceanwise-blue-bullet > span:first-of-type > span {
  background-color: var(--g170-oceanwise-blue);
  border-color: var(--g170-oceanwise-blue);
}

.oceanwise-logo {
  width: 42px;
  height: 42px;
  color: var(--mantine-color-white) !important;
  font-size: rem(6px);
  text-align: center;
  line-height: rem(42px);
}

.container > div {
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: start;
  }
}

.container button + div {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.container {
  background-color: var(--mantine-color-body);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-sm);

  border: calc(0.0625rem * var(--mantine-scale)) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.container br {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.container h3 {
  margin-bottom: calc(var(--mantine-spacing-xl) * 2);
  text-align: center;
}

.container img {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container span {
  color: var(--mantine-color-text);
  line-height: var(--mantine-line-height);
}
