.inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  }
  
.content {
  max-width: rem(600px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-yellow);
  border-radius: var(--mantine-radius-md);
  padding: rem(4px) rem(8px);
}
  