.card {
  position: relative;
  overflow: hidden;
  transition:
    background-color 250ms ease,
    box-shadow 250ms ease;
  padding: var(--mantine-spacing-xl);
  box-shadow: var(--mantine-shadow-md);
  color: var(--mantine-color-text);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--g170-container-dark)
  );
  border: 0px;

  @mixin hover {
    box-shadow: var(--mantine-shadow-lg);
    background-color: var(--g170-container-hover);
  }
}
