.card {
  position: relative;
  overflow: hidden;
  transition:
    transform 150ms ease,
    box-shadow 100ms ease;
  padding: var(--mantine-spacing-xl);
  box-shadow: var(--mantine-shadow-sm);
  color: var(--mantine-color-text);
  background-color: var(--mantine-color-body);

  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.01);
  }
}
