.container {
  width: var(--g170-logo-width);
  height: 100%;
  display: flex;
  align-items: center;
}

.dark {
  opacity: 0.7;

  @mixin light {
    display: none;
  }

  @mixin hover {
    opacity: 1;
  }

  @mixin dark {
    display: block;
  }
}
  
.light {
  opacity: 0.7;

  @mixin dark {
    display: none;
  }

  @mixin hover {
    opacity: 1;
  }

  @mixin light {
    display: block;
  }
}