.card {
  position: relative;
  overflow: hidden;
  transition:
    transform 150ms ease,
    box-shadow 100ms ease;
  padding: var(--mantine-spacing-xl);
  box-shadow: var(--mantine-shadow-md);
  color: var(--mantine-color-text);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--g170-container-dark)
  );
  border: 0px;

  @mixin hover {
    box-shadow: var(--mantine-shadow-lg);
    background-color: light-dark(
      var(--mantine-color-white),
      var(--g170-container-dark-hover)
    );
  }
}

.icon {
  width: rem(16px);
  height: rem(16px);
  stroke: 1.5;
}
