@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  padding-bottom: calc(var(--mantine-spacing-xl) * 2.5);
}

h1, h2, h3, h4, h5, h6 {
  color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);

  padding-top: calc(var(--mantine-spacing-xl));
}

a {
  color: light-dark(var(--mantine-color-violet-9), var(--mantine-color-violet-4));
  text-decoration: none;
}

section {
  margin-top: calc(var(--mantine-spacing-xl) * 2.5);
}