.content {
  max-width: rem(600px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-yellow-7);
  border-radius: var(--mantine-radius-md);
  padding: rem(4px) rem(8px);
}
  