.title {
  font-size: rem(40px);
  font-weight: 900;
}

.metadata {
  line-height: rem(40px);
  text-align: end;
}

.avatar {
  width: rem(40px);
  height: rem(40px);
  float: right;
  margin-left: var(--mantine-spacing-lg);
}

.avatar > span {
  background-color: #363a3f !important;
}
