.container {
  display: grid;
  background-image: light-dark(
    linear-gradient(
      -60deg,
      var(--mantine-color-violet-6) 0%,
      var(--mantine-color-grape-5) 100%
    ),
    linear-gradient(
      -60deg,
      var(--mantine-color-violet-9) 0%,
      var(--mantine-color-grape-9) 100%
    )
  );
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-sm);
  border: calc(0.0625rem * var(--mantine-scale)) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.container h3 {
  flex-grow: 1;
  width: 100%;
  margin-bottom: calc(var(--mantine-spacing-xl) * 2);
  color: light-dark(var(--mantine-color-grape-0), var(--mantine-color-grape-2));
  text-align: center;
}
