.skyscanner-blue-bullet > span:first-of-type > span {
  background-color: var(--g170-skyscanner-blue);
  border-color: var(--g170-skyscanner-blue);
}

.dazn-black-bullet > span:first-of-type > span {
  background-color: var(--g170-dazn-black);
  border-color: var(--g170-dazn-black);
}

.dazn-black-bullet + div {
  background-color: light-dark(
    var(--mantine-color-dark-3),
    var(--mantine-color-dark-2)
  );
}

.cgi-red-bullet > span:first-of-type > span {
  background-color: var(--g170-cgi-red);
  border-color: var(--g170-cgi-red);
}

.cgi-red-bullet + div {
  background-color: light-dark(
    var(--mantine-color-dark-3),
    var(--mantine-color-dark-2)
  );
}

.oceanwise-blue-bullet > span:first-of-type > span {
  background-color: var(--g170-oceanwise-blue);
  border-color: var(--g170-oceanwise-blue);
}

.container span:last-of-type {
  line-height: var(--mantine-line-height);
}

.container > div {
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: start;
  }
}

.container button + div {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.container {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-5)
  );
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  border-radius: var(--mantine-radius-md);
}

.container br {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.container h3 {
  color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-dark-2));
  margin-bottom: calc(var(--mantine-spacing-xl) * 2);
  text-align: center;
}

.container img {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container span {
  color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-dimmed));
}
